<div class="container">
  <h1>Order details</h1>
  <table class="table table-hover orders-table">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Category ID</th>
        <th>Product Category Name</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Order ID</th>
        <th>Order Quantity</th>
        <th>Customer ID</th>
        <th>Customer First Name</th>
        <th>Customer Last Name</th>
        <th>Customer Phone Number</th>
        <th>Customer Shipping Address</th>
        <th>Customer Email</th>
        <th>Product Image</th>
      </tr>
    </thead>
    <tbody class="table-order">
      <ng-container *ngFor="let order of orders">
        <tr>
          <td>{{ order.productId }}</td>
          <td>{{ order.productCategory?.catId }}</td>
          <td>{{ order.productCategory?.productCat }}</td>
          <td>{{ order.productName }}</td>
          <td>{{ order.productPrice }}</td>
          <td>{{ order.orderId }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.customer.customerId }}</td>
          <td>{{ order.customer.fName }}</td>
          <td>{{ order.customer.lName }}</td>
          <td>{{ order.customer.phoneNum }}</td>
          <td>{{ order.customer.shippingAddress }}</td>
          <td>{{ order.customer.email }}</td>
          <td>
            <ng-container *ngFor="let product of order.products">
              <img [src]="product.image" alt="Product Image" width="150" />
            </ng-container>
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="!orders || orders.length === 0">
        <td colspan="14">No orders found.</td>
      </tr>
    </tbody>
  </table>
</div>
